body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url("../images/excavator.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.logo {
  color: white;
  font-size: 28px;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 150px;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;

}

.text-box{
 
  width: 50%;
  color: #fff;
  padding: 20px 10px 20px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

}

.text-box h1{
  font-size: 62px;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;

}

nav .fa{
  display: none;
}


@media screen and (max-width: 700px) {
  .nav-links ul li{
    display: block;
  }
  
  .text-box h1{
    font-size: 30px;
  }
  
  .nav-links{
    position: fixed;
    background: #717171;
    width: 200px;
    height: 100vh;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }

  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}

.container {
  height: 120px;
  width: 120px;
  margin: 250px auto 0;
  position: relative;
}
.circle {
  background-color:#fff;
  height: 120px;
  width: 120px;
  display: block;
  border: 5px solid #00baff;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  animation-name:circle;
  animation-duration:1s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  -webkit-animation-name:circle;
  -webkit-animation-duration:1s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:0s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:normal;
  -webkit-animation-play-state:running;
}
.fa {
  font-size: 42px;
  color: #00baff;
  bottom: 27px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  animation-name:arrow;
  animation-duration:1s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  -webkit-animation-name:arrow;
  -webkit-animation-duration:1s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:0s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:normal;
  -webkit-animation-play-state:running;
}
.pulse {
  margin: 0 auto;
  border-radius: 100px;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 0;
  background-color: transparent;
  opacity: 0;
  width: 110px;
  height: 110px;
  border: 10px solid #00baff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  /* Giving Animation Function */
  -webkit-animation: pulse 1s linear infinite 0.3s;
  -moz-animation: pulse 1s linear infinite 0.3s; 
  border-image: initial;
}
@keyframes arrow
  {
  0%   {bottom:0;}
  75% {bottom:90px;}
  100% {bottom:0;}
  }
@-webkit-keyframes arrow
  {
  0%   {bottom:0;}
  75% {bottom:90px;}
  100% {bottom:0;}
  }
@keyframes circle
  {
  0%   {height:120px;}
  10% {height: 120px;}
  50% {height: 130px;}
  75% {height: 150px;}
  90% {height: 130px;}
  100% {height: 120px;}
  }
@-webkit-keyframes circle
  {
  0%   {height:120px;}
  10% {height: 120px;}
  50% {height: 130px;}
  75% {height: 150px;}
  90% {height: 130px;}
  100% {height: 120px;}
  }
@-webkit-keyframes pulse {       
  0% {-webkit-transform: scale(0); opacity: 0;}
  8% {-webkit-transform: scale(0); opacity: 0;}
  15% {-webkit-transform: scale(0.1); opacity: 1;}
  30% {-webkit-transform: scale(0.5); opacity: 1;}
  100% {opacity: 0; -webkit-transform: scale(1.5);}
}
@-moz-keyframes pulse {       
  0% {-webkit-transform: scale(0); opacity: 0;}
  8% {-webkit-transform: scale(0); opacity: 0;}
  15% {-webkit-transform: scale(0.1); opacity: 1;}
  30% {-webkit-transform: scale(0.5); opacity: 1;}
  100% {opacity: 0; -webkit-transform: scale(1.5);}
}


/* Services */
.service{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
  font-size: 36px;
  font-weight: 600;
}

p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content:space-between;
}

.service-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.service-col:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}

.img{
  width: 80%;
  margin: auto;
  text-align: center;
    /* padding-top: 100px; */
}



/* Slideshow container */
.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc)
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 5}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}






/* Outlets */

.outlets{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;

}

.outlets-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.outlets-col img{
  width: 100%;
  display: block;
}

.layer{

  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
}
.layer:hover{
background: rgba(226,0,0,0.7);
}

.layer h3{
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer p{
  width: 100%;
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.7s;
}

.layer:hover p{
  bottom: 40%;
  opacity: 1;

}
.layer:hover h3{
  bottom: 49%;
  opacity: 1;

}

/* Features */

.features{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.features-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.features-col img{
  width: 100%;
  border-radius: 10px;
}

.features-col p{
  padding: 0;
}

.features-col h3{
  margin-left: 16px;
  margin-bottom: 15px;
  text-align: left;
}


/* Testimonials */

.testimonials{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonials-col{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;

}

.testimonials-col img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;

}
.testimonials-col p{
  padding: 0;
}

.testimonials-col h3{
  margin-top: 15px;
  text-align: left;
}

.testimonials-col .fa{
  color: #f44336;
}

@media(max-width: 700px;) {
  .testimonials-col img{
    margin-left: 5px;
    margin-right: 30px;
  }
}

/* Call To Action */

.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/banner2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px;) {
  .cta h1{
    font-size: 24px;
  }
}

/* footer */

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

/* Icons */
.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

/* About Us Page */
.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/about.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

/* .sub-header h1{
  margin-top: 100px;
} */

/* About Us */

.about-us{
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col{
  flex-basis: 48%;
  padding:30px 2px;
}

.about-col img{
  width: 100%
}

.about-col h1{
  padding-top: 0;
}

.about-col p{
  padding: 15px 0 25px;
}

/* dumptruck */

.dumptruck{
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.dumptruck-col{
  flex-basis: 33%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.dumptruck-col img{
  width: 100%;
  border-radius: 10px;
}

.dumptruck-col p{
  padding: 0;
}

.dumptruck-col h3{
  margin-left: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* dumptruck Page */
.sub-header2{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/dumptruck3.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
